@model EnterpriseGatewayPortal.Web.ViewModel.UsageReports.OrganizationUsageReportUsageViewModel
@using EnterpriseGatewayPortal.Web.Models

@{
    ViewBag.Breadcrumb = new List<BreadCrumbModel>
    {
        new BreadCrumbModel { Title = "Payments - Usage Reports", Url = "", IconKey="payments-UsageReports" },
    }; 
}


@{
    ViewData["Title"] = "Payments";
}

<style>
    .updateLink:hover {
        color: blue;
        text-decoration: underline;
    }

    #note {
        padding-right: 10px;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 15px;
    }

    .classshide {
        display: none !important;
    }

    /* ----------- Select dropdown css -------------*/

    .select2-container {
        width: 100% !important;
    }

        .select2-container .select2-selection--single {
            border-radius: 8px;
            align-items: center;
            box-sizing: border-box;
            justify-content: center;
            height: 40px !important;
            border: 1px solid #E2E8F0 !IMPORTANT;
            color: #3E4046 !important;
        }

    .selection {
        width: 100% !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #3E4046 !important;
        font-size: 14px;
        font-family: inherit;
        padding: 5px 10px;
    }


    /* Remove default arrow */
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border: none !important; /* removes default triangle */
    }

    /* Add your custom arrow */
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        // background: url('@Url.Content("~/assets/images/dropDown-icon-brown.svg")');
        background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.0613 13.0612L17.0613 23.0612C16.9219 23.2011 16.7563 23.312 16.574 23.3877C16.3917 23.4634 16.1962 23.5024 15.9988 23.5024C15.8013 23.5024 15.6059 23.4634 15.4235 23.3877C15.2412 23.312 15.0756 23.2011 14.9363 23.0612L4.93626 13.0612C4.65446 12.7794 4.49615 12.3972 4.49615 11.9987C4.49615 11.6002 4.65446 11.218 4.93626 10.9362C5.21805 10.6544 5.60024 10.4961 5.99876 10.4961C6.39727 10.4961 6.77946 10.6544 7.06126 10.9362L16 19.875L24.9388 10.935C25.2205 10.6532 25.6027 10.4949 26.0013 10.4949C26.3998 10.4949 26.782 10.6532 27.0638 10.935C27.3455 11.2168 27.5039 11.599 27.5039 11.9975C27.5039 12.396 27.3455 12.7782 27.0638 13.06L27.0613 13.0612Z' fill='%2392722A'/%3E%3C/svg%3E");
        //background: url('@Url.Content("~/assets/images/imgDropDownBrown.png")');
        background-repeat: no-repeat;
        background-size: 16px 16px;
        width: 19px;
        top: 11px;
        vertical-align: middle;
        height: 100%;
    }

    .select2-search__field {
        display: none !important;
    }

    // .select2-search select2-search--dropdown {
        // display: none !important;
        //
    }

    .select2-container .select2-dropdown.select2-dropdown--below {
        top: -5px !important;
    }

    .select2-container .select2-search.select2-search--dropdown {
        padding: 0 !important;
    }

</style>

@{
    await Html.RenderPartialAsync("_AlertBox");
}

<div class="classshide">
    <div id='viewer'></div>
</div>
<label class="sub-label">Usage Reports</label>
<div class="row">
    <div class="col-md-12 plr">
        <div class="card" style="height:130px;">
            <div class="card-body">
                <form method="post" asp-action="Index">

                    <div class="row p-b-20" style="margin-top:-15px;">

                        <div class="col-md-3 col-sm-3 col-3">

                            <div class="form-group">
                                <label asp-for="Year" class="col-form-label" style="display: inline-block;"></label><span class="text-danger">*</span>
                               
                                <select asp-for="Year" class="form-control select2" id="yearSelect">
                                    <option value="">select</option>
                                </select>
                              
                                <span asp-validation-for="Year" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-md-5 col-sm-5 col-5">

                            <div class="d-flex flex-row" style="margin-top: 33px;">
                                <button type="submit" class="btn btn-primary uaeid-primary" style="font-size:12px;">Submit</button>
                                &nbsp;&nbsp;
                                <button type="button" id="downloadBtn" class="btn btn-other" onclick="downloadCurrentMonthUsageReport(event)">
                                    Download current month usage
                                </button>
                            </div>

                        </div>

                        <div class="col-md-4 col-sm-4 col-4">
                            <div id="note" style="justify-content:end;">
                                <b>NOTE: </b> (*) Mark fields are mandatory.
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@if (Model.OrgUsageReports != null)
{
    <div id="organizationUsageReportDiv">
        @await Html.PartialAsync("_OrganizationUsageReport", Model.OrgUsageReports)
    </div>
}

@section scripts{
    <script src="~/assets/js/bootstrap3-typeahead.min.js" asp-append-version="true"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
    <script>
    var uid;
        var base64String;
    $(document).ready(function () {

        $('#networkOverlay').hide();
            document.getElementById("navigationNetworkOverlay").style.display = "none";

        $("#Payments > a")
            .attr("aria-expanded", "true")
            .addClass("active");

        $("#Payments")
            .addClass("submenu-active show");

        $("#Payments .submenu")
            .addClass("show");

        $('#Usage-Reports').addClass('active');

            var ddlYears = document.getElementById("yearSelect");
            var currentYear = (new Date()).getFullYear();

            if (ddlYears.options.length === 1 && ddlYears.options[0].value === "") {
                for (var i = 1; i <= 10; i++) {
                    var option = document.createElement("option");
                    option.innerHTML = currentYear;
                    option.value = currentYear;
                    ddlYears.appendChild(option);
                    currentYear--;
                }
            }

            // Set selected value from Model.Year
            var selectedYear = '@Model.Year';
            if (selectedYear) {
                $('#yearSelect').val(selectedYear).trigger('change');
            }

            $('#yearSelect').select2();

        // var BalanceSheetLink = document.getElementById('PaymentsModle').querySelector('.nav-link');
        // BalanceSheetLink.click();
        $('#homeMenu').addClass('breadcrumb-item').append('Payments > Usage Reports');
        $('#mainMenu').removeClass('breadcrumb-item');
        $('#subMenu').removeClass('breadcrumb-item');
          

    });

        // $('#yearSelect').on('click', function () {

        //     var ddlYears = document.getElementById("yearSelect");

        //     //Determine the Current Year.
        //     var currentYear = (new Date()).getFullYear();

        //    if (ddlYears.options.length === 1 && ddlYears.options[0].value === "") {
        //     //Loop and add the Year values to DropDownList.
        //     for (var i = 1; i <= 10; i++) {
        //         var option = document.createElement("option");
        //         option.innerHTML = currentYear;
        //         option.value = currentYear;
        //         ddlYears.appendChild(option);
        //         currentYear--;
        //     }
        //   }
        // });


        function downloadCurrentMonthUsageReport() {
            event.preventDefault();

                $.ajax({
                    url: '@Url.Action("DownloadCurrentMonthOrganizationUsageReport", "UsageReports")',

                    type: "GET",
                    error: ajaxErrorHandler,
                    beforeSend: function () {
                        $('#overlay').show();
                    },
                    complete: function () {
                        $('#overlay').hide();
                    },
                    success: function (data) {
                        if (data.status) {

                            if (data.result == null || data.result == "") {
                            Swal.fire({ icon: 'error', title: "Error", text: data.message });
                            }
                            else {
                            saveByteArrayCurrentMonth(data.organization_Name, data.result);
                            }
                        }
                        else {
                            Swal.fire({ icon: 'error', title: "Error", text: data.message });
                        }
                    }
                });

        }

        function saveByteArrayCurrentMonth(uid, base64String) {
            var myBytes = base64ToArrayBuffer(base64String);
            var blob = new Blob([myBytes], { type: "application/pdf" });
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            let fileName = uid + ".pdf";
            link.download = fileName;
            link.click();

        }

        function saveByteArray(uid, month, yaer, base64String, orgname) {
            var myBytes = base64ToArrayBuffer(base64String);
            var blob = new Blob([myBytes], { type: "application/pdf" });
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            let fileName = orgname + '_' + month + ".pdf";
            link.download = fileName;
            link.click();

        }

        function base64ToArrayBuffer(base64) {
            var binaryString = window.atob(base64);
            var binaryLen = binaryString.length;
            var bytes = new Uint8Array(binaryLen);
            for (var i = 0; i < binaryLen; i++) {
                var ascii = binaryString.charCodeAt(i);
                bytes[i] = ascii;
            }
            return bytes;
        }

    </script>
}