@using EnterpriseGatewayPortal.Web.Models
@model EnterpriseGatewayPortal.Web.Models.SecurityQuestions.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

@{
    await Html.RenderPartialAsync("_AlertBox");
}
@{
    ViewBag.Breadcrumb = new List<BreadCrumbModel>
    {
        new BreadCrumbModel { Title = "Change Password" , Url = "",IconKey = "edit"}
    };
}

<style>
    .pwd {
        -webkit-text-security: disc;
    }

    .password-container {
        position: relative;
    }

    .field-icon {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        pointer-events: auto;
        z-index: 2;
    }
</style>
<label class="form-label sub-label">Change Password</label>
<div class="row" id="spacingCss">
    <div class="col-md-12 plr">
        <div class="card-custom">
            <div class="card-body">
                <form id="uform" asp-action="ChangePassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row" id="changePasswordRow" >
                        <div class="form-group col-md-12">
                        <div class="form-group col-md-6">
                            <div class="form-group" hidden>
                                <input asp-for="Id" class="form-control" />
                                <input asp-for="isFirstLogin" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="OldPassword" class="col-form-label s3"></label>
                                <div class="input-box">
                                    <div class="password-container">
                                        <input asp-for="OldPassword" class="form-control border-right-0 pwd" type="text" required />
                                            <span toggle="#OldPassword" class="fa fa-fw fa-eye field-icon toggle-password" style="padding-top: 10px;"></span>
                                    </div>
                                </div>
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewPassword" class="col-form-label s3"></label>
                                <div class="input-box">
                                    <div class="password-container">
                                        <input asp-for="NewPassword" class="form-control border-right-0 pwd" type="text" required />
                                            <span toggle="#NewPassword" class="fa fa-fw fa-eye field-icon toggle-password" style="padding-top: 10px;"></span>
                                    </div>
                                </div>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword" class="col-form-label s3"></label>
                                    <div class="input-box">
                                        <div class="password-container" style="position: relative; display: inline-block; width:100%;">

                                            <input asp-for="ConfirmPassword" class="form-control border-right-0 pwd" type="text" required />

                                            <!-- Eye Icon -->
                                            <span toggle="#ConfirmPassword"
                                                  class="fa fa-fw fa-eye field-icon toggle-password1"
                                                  style="position:absolute; right:10px; top:50%; transform:translateY(-50%); cursor:pointer;">
                                            </span>

                                            <!-- SVG Image (same spot, hidden by default) -->
                                            <span class="match-icon"
                                                  style="display:none; position:absolute; right:10px; top:50%; transform:translateY(-50%);">
                                                <img src="@Url.Content("~/assets/images/CheckCircle.svg")" alt="Matched" width="18" height="18" />
                                            </span>
                                        </div>
                                    </div>
                                    <span id="message"></span>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>


                        </div>
                        </div>
                    </div>
                    <div style="padding-right: 10px">
                        <div style="float: left;margin-top: 3px;padding-left: 22px;">
                            <b>NOTE: </b>(*) Mark fields are mandatory.
                        </div>
                        <div class="d-flex justify-content-end">
                            @{
                                var disable = string.Empty;
                                double opacity = 1;
                                if (string.IsNullOrEmpty(Model.NewPassword) || string.IsNullOrEmpty(Model.ConfirmPassword))
                                {
                                    disable = "disabled";
                                    opacity = 0.5;
                                }
                            }
                            <a asp-controller="UserDashboard" asp-action="Profile" class="btn btn-other">
                                Cancel
                            </a>
                            &nbsp;&nbsp;
                           
                            <button class="btn btn-primary uaeid-primary" id="ChangePwdBtn" type="submit" style="opacity:@opacity;" @disable>
                                Update
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        /*For Breadcrumb Start*/
        $('#homeMenu').addClass('breadcrumb-item').append('Dashboard');
        $('#mainMenu').addClass('breadcrumb-item active').append('Change Password');
        $('#subMenu').removeClass('breadcrumb-item');
        $('#networkOverlay').hide();
        $('#NewPassword, #ConfirmPassword').on('keyup', function () {
            if ($('#NewPassword').val() == $('#ConfirmPassword').val()) {
                if ($('#NewPassword').val() != "" && $('#ConfirmPassword').val() != "") {
                    $('#message').html('Password Matched').css('color', 'green');
                    $('#ChangePwdBtn').attr("disabled", false).css('opacity', '1');

                    // Hide eye, show SVG
                    $('.toggle-password1').hide();
                    $('.match-icon').show();
                } else {
                    $('#message').html('').css('color', 'green');
                    $('.toggle-password1').show();
                    $('.match-icon').hide();
                }
            } else {
                $('#message').html('Password Not Matched').css('color', 'red');
                $('#ChangePwdBtn').css('opacity', '0.5').attr("disabled", true);

                // Show eye, hide SVG
                $('.toggle-password1').show();
                $('.match-icon').hide();
            }
        });


        $(".toggle-password").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.hasClass("pwd")) {
                input.removeClass("pwd");
            } else {
                input.addClass("pwd");
            }
           
        });
        $(".toggle-password1").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.hasClass("pwd")) {
                input.removeClass("pwd");
            } else {
                input.addClass("pwd");
            }

        });
    });
</script>
