@using EnterpriseGatewayPortal.Web.Models
@model EnterpriseGatewayPortal.Web.Models.SecurityQuestions.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
    var userRole = User.Claims.FirstOrDefault(c => c.Type == "userRoleName")?.Value;
}
@{
    await Html.RenderPartialAsync("_AlertBox");
}
@{
    ViewBag.Breadcrumb = new List<BreadCrumbModel>
    {
        new BreadCrumbModel { Title = "User Profile",Url = Url.Action("Profile","UserDashboard"),IconKey = "adminUsers"},
    };
}
<style>

    /* ------- mobileNumber css ------------------------- */
    .styled-input-group {
        display: flex;
        align-items: center;
        border: 1px solid #E2E8F0 !IMPORTANT;
        border-radius: 8px;
        padding: 6px 10px;
        background-color: #fff;
        height: 40px;
    }

    .country-code-dropdown {
        appearance: none;
        border: none;
        margin-left: -4px;
        background: transparent;
        color: #CBA344;
        font-weight: 500;
        font-size: 14px;
        padding-right: 34px;
        margin-right: 0;
        position: relative;
        z-index: 2;
        background-image: url('@Url.Content("~/assets/images/imgDropDownBrown.png")');
        background-repeat: no-repeat;
        background-size: 18px 18px; /* ↓ decreased size */
        background-position: right 8px center; /* keeps it aligned nicely */
    }

        .country-code-dropdown:focus {
            outline: none;
        }

    .mobile-input {
        border: none;
        flex: 1;
        font-size: 16px;
        color: #3E4046 !important;
        padding: 4px 0;
        background-color: transparent;
    }

        .mobile-input::placeholder {
            color: #999;
        }

        .mobile-input:focus {
            outline: none;
        }

    .country-code-dropdown::-ms-expand {
        display: none;
    }

    .country-code-dropdown::after {
        content: "\F282";
        position: absolute;
        right: 10px;
        width: 12px;
        height: 12px;
        background-image: url('@Url.Content("~/assets/images/imgDropDownBrown.png")');
        background-size: 12px 12px;
        background-repeat: no-repeat;
        background-size: contain;
        pointer-events: none;
    }

    .country-code-dropdown::before {
        margin-left: 3px;
    }

    option {
        color: rgba(0, 0, 0, 0.87);
    }

    .c-radio span {
        width: 24px !important;
        height: 24px !important;
        bottom: 2px !important;
    }

    .c-radio input[type=radio]:checked + span {
        border-color: #92722A !important;
        width: 24px;
        height: 24px;
        bottom: 2px;
    }

        .c-checkbox input[type=radio]:checked + span:before, .c-radio input[type=radio]:checked + span:before {
            color: #92722A !important;
            padding: 2px;
        }

    .c-radio:hover span {
        border-color: #92722A !important;
    }
</style>
<label class="form-label sub-label">User Profile</label>
<div class="row" id="spacingCss">

    <div class="col-md-12 plr">
        <div class="card-custom">
            <div class="card-body">
                <form id="uform" asp-action="Profile">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="form-group col-md-6" style="float:left;">
                                <div class="form-group" hidden>
                                    <input asp-for="Id" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="FullName" class="col-form-label s3"></label>
                                    <input asp-for="FullName" class="form-control" />
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    <label asp-for="MailId" class="col-form-label s3"></label>
                                    <input asp-for="MailId" class="form-control" />
                                    <span asp-validation-for="MailId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Role" class="col-form-label s3"></label>
                                    <input asp-for="Role" class="form-control" readonly />
                                    <span asp-validation-for="Role" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col-md-6" style="float:left;">
                                @*  <div class="form-group">
                                        <label asp-for="MobileNo" class="col-form-label s3"></label>
                                        <div class="input-box">
                                            <!-- Display static +91 as prefix -->
                                            <span class="prefix">+91</span>
                                            <input asp-for="MobileNo"
                                                   oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 10);"
                                                   class="form-control"
                                                   maxlength="10" />
                                        </div>
                                        <!-- Display validation error for MobileNo -->
                                        <span asp-validation-for="MobileNo" class="text-danger"></span>
                                    </div> *@

                                <div class="form-group">
                                    <label asp-for="MobileNo" class="col-form-label s3">Mobile number</label>
                                    <div class="styled-input-group">
                                        <select id="countryCode" class="country-code-dropdown">
                                            <option value="+971">+971</option>
                                            <option value="+91">+91</option>
                                            <option value="+256">+256</option>
                                        </select>
                                        <input asp-for="MobileNo" type="text" class="mobile-input" placeholder="XX XXX XXXX"
                                               oninput="this.value = this.value.replace(/[^0-9]/g, '')" tabindex="2" />
                                    </div>
                                    <span asp-validation-for="MobileNo" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    <label asp-for="Status" class="col-form-label s3"></label>
                                    <input asp-for="Status" class="form-control" readonly />
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="gender" class="col-form-label s3"></label>
                                    <div class="form-control" style="margin-left: -10px;border: none !important; box-shadow: none !important;">
                                        <label class="c-radio col-form-label" style="display:inline-block">
                                            <input asp-for="gender" type="radio" value="1" />
                                            <span class="fa fa-mars"></span> Male
                                        </label>
                                        <label class="c-radio col-form-label" style="display:inline-block">
                                            <input asp-for="gender" type="radio" value="0" />
                                            <span class="fa fa-venus"></span> Female
                                        </label>
                                        <span asp-validation-for="gender" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="padding-right: 10px">
                        <div style="float: left;margin-top: 5px;padding-left: 22px;">
                            <b>NOTE: </b>(*) Mark fields are mandatory.
                        </div>
                        <div class="d-flex justify-content-end">

                            @*&nbsp;&nbsp;
        <a asp-controller="UserDashboard" asp-action="ChangePassword" asp-route-id="@Model.Id" class="btn btn-info">
        Change Password
        </a>*@
                            &nbsp;&nbsp;
                            @if (userRole == "ADMIN")
                            {
                                <a asp-controller="Dashboard" asp-action="Index" class="btn btn-other">
                                    Cancel
                                </a>
                            }
                            else
                            {
                                <a asp-controller="KYCDashboard" asp-action="Index" class="btn btn-other">
                                    Cancel
                                </a>
                            }
                            &nbsp;&nbsp;
                            <button class="btn btn-primary uaeid-primary" type="submit">
                                Update
                            </button>

                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .input-box {
        display: flex;
        align-items: center;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding-left: 0.5rem;
        overflow: hidden;
        font-family: sans-serif;
    }

        .input-box .prefix {
            font-weight: 300;
            font-size: 14px;
            color: #999;
        }

        .input-box input {
            flex-grow: 1;
            font-size: 14px;
            background: #fff;
            border: none;
            outline: none;
            padding: 0.5rem;
        }

        .input-box:focus-within {
            border-color: #777;
        }

    .c-checkbox,
    .c-radio {
        margin-right: 4px;
    }

        .c-checkbox *,
        .c-radio * {
            cursor: pointer;
        }

        .c-checkbox input,
        .c-radio input {
            opacity: 0;
            position: absolute;
            margin-left: 0 !important;
        }

        .c-checkbox span,
        .c-radio span {
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 20px;
            height: 20px;
            border-radius: 2px;
            border: 1px solid #ccc;
            margin-right: 5px;
            text-align: center;
        }

            .c-checkbox span:before,
            .c-radio span:before {
                margin-left: 1px;
            }

        .c-checkbox:hover span,
        .c-radio:hover span {
            border-color: #5d9cec;
        }

    .form-inline .c-checkbox span, .form-inline
    .c-radio span {
        margin-left: 0;
    }

    .c-checkbox.c-checkbox-rounded span, .c-checkbox.c-radio-rounded span,
    .c-radio.c-checkbox-rounded span,
    .c-radio.c-radio-rounded span {
        border-radius: 500px;
    }

    /* override for radio */
    .c-radio span {
        border-radius: 500px;
    }

        /* the icon */
        .c-checkbox span:before,
        .c-radio span:before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            text-align: center !important;
            font-size: 12px;
            line-height: 18px;
            vertical-align: middle;
        }

    /* Checked state */
    .c-checkbox,
    .c-radio {
        /* override for radio */
        /* Disable state */
        /* override for radio */
    }

        .c-checkbox input[type=checkbox]:checked + span:before,
        .c-checkbox input[type=radio]:checked + span:before,
        .c-radio input[type=checkbox]:checked + span:before,
        .c-radio input[type=radio]:checked + span:before {
            color: #fff;
            opacity: 1;
            transition: color .3s ease-out;
        }

        .c-checkbox input[type=checkbox]:checked + span,
        .c-checkbox input[type=radio]:checked + span,
        .c-radio input[type=checkbox]:checked + span,
        .c-radio input[type=radio]:checked + span {
            border-color: #5d9cec;
            background-color: #5d9cec;
        }

        .c-checkbox input[type=radio]:checked + span,
        .c-radio input[type=radio]:checked + span {
            background-color: #fff;
        }

            .c-checkbox input[type=radio]:checked + span:before,
            .c-radio input[type=radio]:checked + span:before {
                color: #5d9cec;
            }

        .c-checkbox input[type=checkbox]:disabled + span,
        .c-checkbox input[type=radio]:disabled + span,
        .c-radio input[type=checkbox]:disabled + span,
        .c-radio input[type=radio]:disabled + span {
            border-color: #ddd !important;
            background-color: #ddd !important;
        }

        .c-checkbox input[type=radio]:disabled + span,
        .c-radio input[type=radio]:disabled + span {
            background-color: #fff !important;
        }

            .c-checkbox input[type=radio]:disabled + span:before,
            .c-radio input[type=radio]:disabled + span:before {
                color: #ddd;
            }

        .c-radio.c-radio-nofont {
            /* override for radio */
            /* Disable state */
            /* override for radio */
        }

            .c-radio.c-radio-nofont span:before {
                content: "";
                width: 10px;
                height: 10px;
                top: 50%;
                left: 50%;
                margin-top: -5px;
                margin-left: -5px;
                border-radius: 500px;
            }

            .c-radio.c-radio-nofont input[type=radio]:checked + span:before {
                color: #fff;
                opacity: 1;
                transition: color .3s ease-out;
            }

            .c-radio.c-radio-nofont input[type=radio]:checked + span {
                border-color: #5d9cec;
                background-color: #5d9cec;
            }

            .c-radio.c-radio-nofont input[type=radio]:checked + span {
                background-color: #fff;
            }

                .c-radio.c-radio-nofont input[type=radio]:checked + span:before {
                    background-color: #5d9cec;
                }

            .c-radio.c-radio-nofont input[type=radio]:disabled + span {
                border-color: #ddd !important;
                background-color: #ddd !important;
            }

            .c-radio.c-radio-nofont input[type=radio]:disabled + span {
                background-color: #fff !important;
            }

                .c-radio.c-radio-nofont input[type=radio]:disabled + span:before {
                    background-color: #ddd;
                }
</style>


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
@section Scripts {
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        var operationName = "PROFILE_UPDATE";
        $(document).ready(function () {
            /*For Beadcrum Start*/
            $('#homeMenu').addClass('breadcrumb-item').append('Dashboard');
            $('#mainMenu').addClass('breadcrumb-item active').append('Profile');
            $('#subMenu').removeClass('breadcrumb-item');
            $('#networkOverlay').hide();

            var today = new Date();
            $('#Dob').datepicker({
                dateFormat: "yy-mm-dd",
                yearRange: "-100:+0",
                changeMonth: true,
                changeYear: true,
                maxDate: new Date(today.getFullYear(), today.getMonth(), today.getDate())
            });

            $('#Dob').on('change', function () {
                if (checkvalues()) {
                    $('#submitFormBtn').attr("disabled", true);
                    $('#submitFormBtn').css('opacity', '0.5');
                } else {
                    $('#submitFormBtn').css('opacity', '1');
                    $('#submitFormBtn').attr("disabled", false);
                }
            });

            getAllValue();


        });
        // Custom validation for mobile number
        $('#uform').submit(function (e) {
            var mobileNo = $('#MobileNo').val();
            var email = $('#MailId').val();
            var fullName = $('#FullName').val();

            var mobileRegex = /^[0-9]{10}$/;  // Regex to match exactly 10 digits

            if (!mobileNo) {
                e.preventDefault();

                Swal.fire({
                    icon: 'error',
                    title: 'error',
                    text: 'Mobile number is required.'

                });
                return false;
            }

            if (!mobileRegex.test(mobileNo)) {
                e.preventDefault();

                Swal.fire({
                    icon: 'error',
                    title: 'error',
                    text: 'Mobile number should be exactly 10 digits.'

                });
                return false;
            }
            if (!email) {
                e.preventDefault();

                Swal.fire({
                    icon: 'error',
                    title: 'error',
                    text: 'Email is required.'

                });
                return false;
            }
            if (!fullName) {
                e.preventDefault();

                Swal.fire({
                    icon: 'error',
                    title: 'error',
                    text: 'Full Name is required.'

                });
                return false;
            }


        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}