@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

body {
    overflow: auto;
    margin: 0;
}

* {
    margin: 0;
    padding: 0
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.625rem;
    margin-left: -.625rem;
}


.myform-area {
    overflow: auto;
    padding: 60px 0;
    /*background: #f4fffe;*/
    /* background: linear-gradient(135deg, #AA96DA, #C5FAD5, #FFFFD2);*/
    background: #F9F7ED !important;
    position: absolute;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 80px;
    /*background-image: url('../../assets/NewLogo/PNG/background.png');*/
    background-color: blue;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: rgba(255, 255, 255, 1);*/
}



    .myform-area .form-area {
        position: relative;
        text-align: center;
        /* background: rgba(255, 255, 255, 1); */
        background: white;
        width: 71%;
        height: 314px;
        padding: 12px 10px 40px 10px;
        overflow: hidden;
        box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.05), 0px 16px 16px 0px rgba(0, 0, 0, 0.04), 0px 37px 22px 0px rgba(0, 0, 0, 0.03), 0px 65px 26px 0px rgba(0, 0, 0, 0.01), 0px 102px 29px 0px rgba(0, 0, 0, 0);
        border: solid;
        border-color: rgba(255, 222, 173, 0);
        border-radius: 12px;
        /* background-image: url(../../assets/NewLogo/PNG/HomeBackGround.png); */
        background-repeat: no-repeat;
        background-size: 80%;
        background-position-x: left;
        background-position-y: bottom;
        margin-left: 107px;
    }

        .myform-area .form-area svg {
            margin: auto;
            margin-top: 30px;
            margin-bottom: 10px;
            height: 100px;
            width: 100px;
        }

    .myform-area .footer {
        justify-content: center;
        position: absolute;
        width: 100%;
        bottom: 10px;
        font-size: 16px;
        font-weight: 700;
        font-family: Lato-Bold, Lato;
        color: rgba(64, 64, 64, 1);
    }

        .myform-area .footer img {
            height: 30px;
        }

.Pagefooter {
    position: absolute;
    bottom: 15px;
    right: 30px;
}

    .Pagefooter img {
        height: 25px;
    }


.error {
    padding: 5px;
    margin: -12px 0px;
    white-space: nowrap;
    text-align: center;
    width: 108%;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(64, 64, 64, 1);
    margin-left: -18px;
}

.error_desc {
    padding: 9px;
    margin: 5px 0px;
    text-align: center;
    width: 100%;
    font-size: 14px;
    
    font-family: Roboto, sans-serif;
    color: rgba(64, 64, 64, 1);
}


.myform-area .form-area .myform-button {
    margin-top: 30px;
    text-align: center;
}

    .myform-area .form-area .myform-button .myform-btn {
        width: 147px;
        font-size: 14px;
        /* background: #ACC43D; */
        background: linear-gradient(90deg, #CBA344 0%, #92722A 100%, #92722A 100%);
        border: none;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        color: #fff;
        outline: none !important;
        cursor: pointer;
        /* text-transform: uppercase; */
        font-style: normal;
        box-sizing: border-box;
        /* box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 30%); */
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        margin-top: -22px;
    }

        .myform-area .form-area .myform-button .myform-btn:hover {
            /*box-shadow: 0px 0px 10px 0px rgb(8 7 7);*/
        }


@media only screen and (max-height: 500px) {
    .myform-area {
        height: auto;
    }

        .myform-area .form-area .form-content img {
            height: 75%;
            width: 100%;
        }
}

@media only screen and (max-width: 500px) {
    .myform-area {
        background-repeat: round;
    }

        .myform-area .form-area {
            height: auto;
        }


            .myform-area .form-area svg {
                height: 60px;
                width: 60px;
            }

        .myform-area .footer img {
            height: 20px;
        }

    .Pagefooter img {
        height: 15px;
    }


    .error {
        font-size: 14px;
    }

    .error_desc {
        font-size: 14px;
    }

    .myform-area .form-area .myform-button .myform-btn {
        font-size: 10px;
        padding: 10px 10px;
    }
}
